@import url(modal.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Open Sans", sans-serif;
}
.header{
	background-image: url(../img/bg_top.jpg);
	background-size: cover;
	background-position: top center;
	padding-top: 50px;
	padding-bottom: 100px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.nav-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .nav-line{
	height: 50px;
}
.logo img{
	width: 100px;
	height: 50px;
}
ul{
	list-style: none;
}
.main-menu{
	width: 46.9298%;
}
.main-menu ul{
	display: flex;
	justify-content: space-between;
}
.main-menu ul li{
	display: inline-block;
}
.main-menu ul li a{
	color: #7e91a4;
	text-decoration: none;
	font-size: 13px;
	display: block;
	border-bottom: 1px solid transparent;
	font-weight: 500;
	transition-duration: .2s;
}
.main-menu ul .active a{
	color: #414e5b;
	border-bottom: 1px solid #414e5b;
}
.phone__number{
	font-size: 20px;
	font-family: "Exo 2", sans-serif;
	color: #414e5b;
}
.phone__desc a{
	font-size: 13px;
	color: #7e91a4;
	font-weight: 500;
}
.main-menu ul li a:hover{
	border-bottom: 1px solid #414e5b;
}
.heading-line{
	display: flex;
	justify-content: space-between;
	margin-top: 130px;	
}
.heading-line__desc{
	width: 50%;
}
.heading-line__img{
	width: 50%;
	display: flex;
	align-items: center;
	height: 360px;
}
.heading-line__img img{
	width: 100%;
}
.heading-line__desc .title{
	font-weight: 300;
	color: #222222;
	font-size: 43px;
	margin-bottom: 50px;
	line-height: 1.14;
}
.heading-line__desc .description ul{
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.heading-line__desc .description li{
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	color: #414e5b;
}
.heading-line__desc .description i{
	margin-right: 5px;
}
.button{
	margin-top: 65px;
	background-color: #14b75a;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	letter-spacing: 1.96px;
	width: 245px;
	height: 46px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	box-shadow: 0 4px 0 #0e9c4b;
	transition-duration: .1s;
}
.button:hover{
	cursor: pointer;
	background-color: #11d665;
}
.line{
	width: 100%;
	padding: 40px 0px;
	background-color: #414e5b;
}
.facts{
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.fact{
	width: 25%;
}
.fact__heading{
	font-family: "Exo 2", sans-serif;
	font-size: 20px;
	color: #dde9f3;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.fact__heading span{
	font-size: 34px;
	color: #ecb124;
}
.fact__desc{
	color: #c0cdda;
	font-size: 15px;
}
.gallery{
	background-color: #f8f8f8;
}
.gallery__left{
	width: 48%;
}
.gallery__right{
	width: 50%;
	padding: 0 15px;
	padding-left: 20px;
}
.gallery__right .title{
	margin-bottom: 36px;
}
h2{
	color: #222222;
	font-size: 34px;
	font-weight: 300;
}
.gallery__right .desc{
	font-size: 16px;
	color: #777;
}
.gallery__right .advantages{
	margin-bottom: 49px;
}
.gallery .container{
	display: flex;
	justify-content: space-between;
}
.gallery{
	padding-bottom: 96px;
	padding-top: 80px;
}
.gallery__right .button{
	margin-top: 0;
}
.gallery__right .buttons{
	display: flex;
	justify-content: space-between;
}
.orange-button{
	color: #ecb124;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.96px;
	font-size: 14px;
	width: 278px;
	height: 48px;
	border: 1px solid #ecb124;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 0 #ecb124;
	transition-duration: .1s;
}
.orange-button:hover{
	background-color: #ecb124;
	color: white;
	cursor: pointer;
}
.gallery__right .advantages{
	margin-top: 39px;
	height: 47px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.gallery__right .advantage{
	color: #414e5b;
	font-weight: 600;
	font-size: 17px;
	text-transform: uppercase;
}
.gallery__right .advantage b{
	color: #b1b8be;
	font-size: 17px;
	margin-right: 5px;
	vertical-align: center;
}
.gallery-box{
	width: 100%;
	height: 370px;
	border: 7px solid #ecb124;
	position: relative;
}
.gallery-box:hover{
	cursor: pointer;
}
.gallery-box__picture{
	width: 100%;
	height: 100%;
	background-image: url(../img/gallery_photo.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
.gallery-box__triangle{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	border-top: 60px solid #ecb124;
	border-left: 60px solid transparent;
}
.gallery-box i{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 15;
	color: white;
	font-size: 20px;
	margin-top: 5px;
	margin-right: 5px; 
}
.gallery-box__picture__after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40,40,60,.6);
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: .4s;
}
.gallery-box__picture__after:hover{
	background: rgba(40,40,60,.7);
}
.gallery-box__btn{
	text-align: center;
}
.gallery-box__picture .btn{
	font-size: 54px;
	color: #b5bdc6;
	position: relative;
	z-index: 10;
	text-align: center;
}
.gallery-box__picture .desc{
	position: relative;
	z-index: 10;
	color: #b5bdc6;
	font-size: 23px;
	font-weight: 300;
	margin-top: 5px;
}
.services{
	margin-top: 89px;
	margin-bottom: 98px;
}
.services .container{
	display: flex;
	justify-content: space-between;
}
.service{
	width: 28.24651%;
}
.services__title{
	text-align: center;
	font-size: 34px;
	margin-bottom: 98px;
}
.service__name{
	color: #333333;;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}
.service__line{
	width: 48px;
	height: 1px;
	background-color: #d0d0d0;
	margin: 0 auto;
	margin-top: 19px;
	margin-bottom: 28px;
	transition-duration: .3s;
}
.service__line__hover{
	width: 120px;
	height: 1px;
	background-color: #ecb124;
	margin: 0 auto;
	margin-top: 19px;
	margin-bottom: 28px;
	transition-duration: .3s;
}
.service__desc{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}
.service__img{
	text-align: center;
	margin-bottom: 50px;
}
.service__img img{
	width: 80px;
}
.service__desc{
	margin-bottom: 39px;
}
.centered{
	display: flex;
	justify-content: center;
}
.service__btn{
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #e8e8e8;
	color: #666666;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	display: inline-block;
	box-shadow: 0 3px 0 #d0d0d0;
	transition-duration: .2s;
}
.service__btn__hover{
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #ecb124;
	color: white;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	display: inline-block;
	box-shadow: 0 3px 0 #d59d16;
	transition-duration: .2s;
	cursor: pointer;
}
.burg{
	display: flex;
	width: 33px;
	height: 30px;
	flex-direction: column;
	justify-content: space-around;
	display: none;
	align-items: center;
	transition-duration: .3s;
	position: relative;
	cursor: pointer;
}
.burg__line{
	width: 90%;
	height: 2px;
	background-color: #414e5b;
	transition-duration: .3s;
}
.rotate-plus{
	width: 90%;
	height: 2px;
	background-color: #414e5b;
	position: absolute;
	transform: rotate(45deg);
	transition-duration: .3s;
}
.rotate-minus{
	width: 90%;
	height: 2px;
	background-color: #414e5b;
	position: absolute;
	transform: rotate(-45deg);
	transition-duration: .3s;
}
.rotate-hide{
	display: none;
	transition-duration: .3s;
}
.hidden-menu{
	width: 100%;
	padding: 30px 0px;
	background-color: #414e5b;
	margin-bottom: -60px;
	transition-duration: .3;
	margin-top: 10px;
}
.hidden-menu ul{
	text-align: center;
	transition-duration: .3;
}
.hidden-menu li a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	transition-duration: .3s;
	text-decoration: none;
	color: #7e91a4;
}
.hidden-menu .active a{
	text-decoration: underline;
	color: #ecb124;
}
.hidden-menu li a:last-child{
	margin-bottom: 0;
}
.hidden-menu li a:hover{
	color: white;
	text-decoration: none;
	background-color: #ecb124;
}
.our-works{
	background-color: #414e5b;
	padding-bottom: 60px;
}
.our-works__title{
	font-size: 33px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding-top: 95px;
	padding-bottom: 65px;
}
.our-works__imgs{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.our-works__img-container{
	width: 25%;
	position: relative;
}
.our-works__img{
	width: 100%;
	height: 100%;
}
.img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255, .7);
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-duration: 1s;
	color: transparent;
	transform: scale(1);
}
.img-overlay__hover{
	position: absolute;	
	background-color: rgba(255,255,255, .7);
	z-index: 9999;
	opacity: 1;
	transition-duration: 1s;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	color: #414e5b;
	justify-content: center;
	align-items: center;
	transform: scale(0.88);
	top: 0;
	left: 0;
}
.fa-search-plus{
	font-size: 20px;
	opacity: .6;
}
.img-overlay__desc{
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Exo 2", sans-serif;
	margin-top: 13px;
}







@media only screen and (max-width: 1200px){
	.container{
		width: 940px;
	}
	.main-menu{
		width: 50%;
	}
	.phone__number{
		font-size: 18px;
		text-align: center;
	}
	.phone__desc a{
		font-size: 12px;
	}
	.heading-line__img img{
		width: 95%;
	}
	.heading-line .title{
		font-size: 39px;
	}
	.heading-line__desc .description li{
		font-size: 16px;
	}
	.fact{
		text-align: center;
	}
	.fact__heading{
		font-size: 19px;
	}
	.fact__heading span{
		font-size: 32px;
	}
	.fact__desc{
		font-size: 14px;
	}
	.gallery__right .title{
		font-size: 32px;
		line-height: 35px;
		text-align: center;
		margin-bottom: 36px;
	}
	.gallery__right .desc{
		text-align: center;
	}
	.orange-button{
		width: 220px;
	}
	.button{
		width: 200px;
	}
	.gallery__right .advantages{
		text-align: center;
	}
	.services__title{
		font-size: 33px;
	}
	.our-works__title{
		font-size: 33px;
	}
	.our-works__img-container{
		width: 33.333333333%;
	}
}

@media only screen and (max-width: 992px){
	.container{
		width: 720px;
	}
	.main-menu{
		display: none;
	}
	.burg{
		display: flex;
		order: 2;
	}
	.heading-line{
		margin-top: 80px;
	}
	.heading-line .title{
		font-size: 34px;
		margin-bottom: 40px;
	}
	.header{
		padding-bottom: 100px;
	}
	.heading-line .button{
		margin-top: 40px;
	}
	.facts{
		flex-wrap: wrap;
	}
	.fact{
		width: 48%;
		margin-bottom: 20px;
		text-align: left;
	}
	.fact__heading{
		margin-bottom: 10px;
	}
	.gallery__right .buttons{
		flex-direction: column;
	}
	.gallery__right .button{
		margin-bottom: 20px;
		width: 100%;
	}
	.gallery__right .orange-button{
		width: 100%;
	}
	.gallery__right .title{
		font-size: 30px;
	}
	.gallery-box__picture{
		background-repeat: no-repeat;
	}
	.our-works__img-container{
		width: 50%;
	}
	.our-works__title{
		font-size: 30px;
	}
}

@media only screen and (max-width: 768px){
	.container{
		width: 530px;
	}
	.header{
		padding-bottom: 60px;
	}
	.heading-line__img{
		display: none;
	}
	.heading-line__desc{
		width: 100%;
	}
	.gallery .container{
		flex-direction: column;
	}
	.gallery__left, .gallery__right{
		width: 100%;
	}
	.gallery__left{
		margin-bottom: 20px;
	}
	.services .container{
		flex-direction: column;
	}
	.service{
		width: 100%;
		margin-bottom: 60px;
	}
	.service__img{
		margin-bottom: 20px;
	}
	.our-works__img-container{
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 576px){
	.container{
		width: 95%;
	}
	.nav-line{
		flex-direction: column;
		position: relative;
	}	
	.burg{
		position: absolute;
		top: 50%;
		right: 0;
	}
	.heading-line{
		margin-top: 100px;
	}
	.phone{
		z-index: 10;
	}
	.hidden-menu{
		margin-top: 60px;
	}
	.fact{
		text-align: center;
	}
	.fact__heading{
		font-size: 16px;
	}
	.fact__heading span{
		font-size: 28px;
	}
	.fact__desc{
		font-size: 12.5px;
	}
	.heading-line .title{
		text-align: center;
		font-size: 30px;
	}
	.gallery__right .title{
		text-align: center;
		font-size: 28px;
	}
	.services__title{
		text-align: center;
		font-size: 30px;
	}
	.services{
		margin-top: 50px;
	}
	.heading-line .button{
		margin: 40px auto;
	}
	.heading-line .description{
		text-align: center;
	}
	.fact{
		flex-direction: column;
		justify-content: flex-start;
	}
}
