*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 960px;
	margin: 0 auto;
	background-color: #eaeaea;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,30%);
	justify-content: space-between;
}
.left-column{
	background-color: #39383a;
	width: 36.45833%;
}
.photo{
	width: 100%;
	height: 233px;
	background-image: url(https://pp.userapi.com/c841634/v841634720/6751e/KoVisIFXEmQ.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}
.profile{
	padding-top: 52px;
	padding-left: 31px;
	padding-right: 26px;
	padding-bottom: 71px;
}
.left-column .heading{
	color: #f3f3f3;
	text-transform: uppercase;
	font-size: 16px;
	padding-bottom: 15px;
	border-bottom: 2px dashed #5a5a5a;
}
.profile-about{
	color: #ababab;
	margin-top: 20px;
	font-size: 13px;
	line-height: 24.19px;
}
.contacts{
	margin-top: 20px;
	padding-bottom: 25px;
	border-bottom: 2px dashed #5a5a5a;
}
.phone{
	margin-top: 50px;
}
.contacts h3{
	font-size: 16px;
	color: #fff;
}
.contacts i{
	margin-right: 10px;
}
.contacts .desc{
	font-size: 13px;
	color: #ababab;
	margin-top: 10px;
	margin-left: 19px;
}
.languages-heading{
	margin-top: 70px;
}
.lang-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.lang-lap{
	width: 101px;
	height: 101px;
	border: 6px solid #5c5c5c;
	border-radius: 50%;
	display: flex;
	text-align: center;
	margin-top: 40px;
}
.lang{
	margin: auto;
}
.lang span{
	color: #e2e2e2;
	font-size: 15px;
	font-weight: bold;
}
.lang > span:nth-child(1){
	color: #8e8e8e;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 20.97px;
}
.right-column{
	width: 61.45833%;
	background-color: #ffffff;
	padding: 25px 30px;
}
.wrap{
	border: 1px solid rgba(168, 168, 168, 0.44);
	padding-top: 36px;
}
.about-me{
	display: flex;
	flex-direction: column;
}
.logo{
	width: 100%;
	display: flex;
	justify-content: center;
}
.logo-lines{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.logo-line{
	width: 43px;
	height: 1px;
	background-color: #39383a;
}
.logo-lap{
	width: 92px;
	height: 92px;
	border: 1px solid #39383a;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #39383a;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.left-lines{
	margin-right: 20px;
}
.right-lines{
	margin-left: 20px;
}
.logo-line:nth-child(1){
	margin-top: 20px;
}
.logo-line:nth-child(3){
	margin-bottom: 20px;
}
.left-lines .logo-line:nth-child(2){
	
}
.right-lines .logo-line:nth-child(2){
	
}
.name{
	color: #39383a;
	font-size: 16px;
	font-weight: bold;
	font-family: Roboto;
	text-transform: uppercase;
	margin-top: 35px;
	text-align: center;
	margin-bottom: 15px;
}
.name-desc{
	color: #808080;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
}
.adress{
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #39383a;
	margin-bottom: 15px;
}
.about-small{
	display: flex;
	justify-content: center;
}
.about-inf{
	font-size: 10px;
	color: #777777;
	font-family: Roboto;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 30px;
	flex-wrap: wrap;
}
.about-inf span{
	color: black;
	font-weight: bold;
}
@media only screen and (max-width: 900px){
	.container{
		flex-direction: column;
		width: 100%;
	}
	.left-column{
		width: 100%;
	}
	.photo{
		height: 300px;
	}
	.right-column{
		width: 100%;
	}
	.about-small{
		flex-direction: column;
		text-align: center;
	}
}