*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background-image: url(../img/background-image.png);
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
.container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper{
	width: 1020px;
}
.main{
	display: flex;
	width: 100%;
	height: 410px;
	justify-content: space-between;
}
.content-block{
	display: flex;
	width: 760px;
	background-color: #fff;
}
.content-block__left{
	width: 50%;
	padding: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.content-block__right{
	width: 50%;
	background-image: url(../img/photo1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.title{
	margin-bottom: 20px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	padding-bottom: 10px;
	border-bottom: 2px solid #202020;
}
.desc{
	font-size: 15px;
	font-style: italic;
	text-align: center;
	margin-bottom: 30px;
	color: #454545;
}
.button a{
	text-align: center;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid #232323;
	color: #232323;
	padding: 10px;
	width: 230px;
	margin: 0 auto;
	display: block;
}
.button a:hover{
	color: #CA7B0B;
	cursor: pointer;
}
.button a:focus{
	color: #CA7B0B;
	cursor: pointer;
}
.button a:active{
	color: #CA7B0B;
	cursor: pointer;
	position: relative;
	top: 5px;
	width: 220px;
}
.logo-block{
	height: 100px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.nav{
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.nav-block{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 260px;
}
.nav-btn{
	background-color: #fff;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	color: #343434;
}
.logo{
	display: flex;
}
.logo-lines{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.logo-line{
	width: 25px;
	height: 2px;
	background-color: #343434;
}
.logo-lap{
	width: 60px;
	height: 60px;
	border: 2px solid #343434;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #343434;
}
.left-lines{
	margin-right: 10px;
}
.right-lines{
	margin-left: 10px;
}
.logo-line:nth-child(1){
	margin-top: 10px;
}
.logo-line:nth-child(3){
	margin-bottom: 10px;
}
.right-lines .logo-line:nth-child(2){
	position: relative;
	left: 5px;
}
.left-lines .logo-line:nth-child(2){
	position: relative;
	right: 5px;
}
.nav-btn a:hover{
	color: #CA7B0B;
	cursor: pointer;
}
.nav-btn a{
	text-decoration: none;
	color: #343434;
}
.form{
	display: flex;
	flex-direction: column;
}
.form__input{
	margin-bottom: 20px;
	padding: 8px;
}
.form_btn{
	width: 150px;
	padding: 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
}